.ilmoitus {
    color: blue;
}

form {
    margin-bottom: 1em;
}

.kaavakkeet {
    display: flex;
    flex-direction: column;
    order: 1;
}

#joukkueListaus {
    order: 2;
}

.main-container div {
    flex: 1;
}

@media all and (min-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        width: 100%;
        max-width: 30em;
        padding-bottom: 1em;
    }

    .container * {
        flex: 1;
    }
    
    .container p {
        overflow: auto;
        margin: 0em 0.2em 0.2em 0em;
    }
    
    .container p * {
        float: right;
    }
    
    .container p label {
        padding-right: 0.2em;
    }
    
}

@media all and (max-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .container {
        overflow: auto;
        margin-bottom: 1em;
    }

    .container p {
        float: left;
        margin: 0em 0.2em 0em 0em;
    }

    .container p * {
        float: right;
    }

    #leimaustavatDiv p {
        float: left;
    }
    
    #sarjatDiv p {
        float: left;
    }
}





