/* Tausta-väri, sivun korkeus näytön mukaiseksi ja whitespacen piilotus*/
html {
	background-color: black;
	height: 100%;
	font-size: 0;
}

/* Sivun korkeus näytön mukaiseksi, tyhjä tila pois reunoilta ja scrollbarien esto*/
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

/* Animoimaton mallipalkki*/
.palkki {
	display: none;
}

/* Animoitu palkki*/
.palkki_anim {
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: laidastalaitaan;
	height: 100%;
	left: -160px;
	position: absolute;
}

/* Pöllö */
.pollo_anim {
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: siksak;
	position: absolute;
	z-index: 3;
}

/* Pupu-kuva, ei näytetä */
.pupu_img {
	display: none;
}

/* Pupun puolikkaat */

.pupu {
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	position: absolute;
	z-index: 2;
}

.pupu_vasen {
	animation-name: vasemmaltakeskelle;
}

.pupu_oikea {
	animation-name: oikealtakeskelle;
}

/* Pöllöjenlisäysnappi */
button {
	float: right;
	position: relative;
	z-index: 4;
}

/* Rullaavan tekstin canvas */
.teksti {
	bottom: 0;
	position: absolute;
	z-index: 4;
}

/* Mallilumihiutale, ei näytetä */
.lumi {
	display: none;
}

/* Lumihiutale */
.lumi_anim {
	animation-name: lumi;
	animation-timing-function: linear;
	position: absolute;
	z-index: 1;
}

/* Palkkien animaatio */
@keyframes laidastalaitaan {
	from {
		left: -160px;
	}

	to {
		left: calc(100% + 160px);
	}
}

/* Pöllön animaatio */
@keyframes siksak {
	0% {
		left: 0;
		top: 0;
	}

	25% {
		left: calc(100% - 94.5px);
		top: calc(100% - 92.5px);
	}

	50% {
		left: 0;
		top: calc(100% - 92.5px);
	}

	75% {
		left: calc(100% - 94.5px);
		top: 0;
	}

	100% {
		left: 0;
		top: 0;
	}
}

/* Pupujen puolikkaiden animaatiot */

@keyframes vasemmaltakeskelle {
	from {
		left: 0;
	}
	to {
		left: calc(50% - 191.5px);
	}
}

@keyframes oikealtakeskelle {
	from {
		right: 0;
	}
	to {
		right: calc(50% - 191.5px);
	}
}

/* Lumihiutaleen animaatio */
@keyframes lumi {
	/*Lopputila asetaan jokaiselle erikseen*/
	from {
		bottom: calc(100vh + 40px);
	}
}
