/* Tausta-väri, sivun korkeus näytön mukaiseksi ja whitespacen piilotus*/
html
{
	background-color:black;
	height:100%;
	font-size:0;
}

/* Sivun korkeus näytön mukaiseksi, tyhjä tila pois reunoilta ja scrollbarien esto*/
body
{
	height:100%;
	margin:0;
	overflow:hidden;
}

/* Animoimaton mallipalkki*/
.palkki
{
	left:-160px;
	position:absolute;
}

/* Animoitu palkki*/
.palkki_anim
{
	animation-direction:alternate;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-name:laidastalaitaan;
	height:100%;
	left:-160px;
	position:absolute;
}

/* Pöllö */
.pollo_anim
{
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-name:siksak;
	position:absolute;
	z-index:2;
}

/* Pupu-kuva, ei näytetä */
.pupu
{
	display:none;
}

/* Pupun puolikkaat */

.pupu_vasen
{
	animation-direction:alternate;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-name:vasemmaltakeskelle;
	position:absolute;
	z-index:1;
}

.pupu_oikea
{
	animation-direction:alternate;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-name:oikealtakeskelle;
	position:absolute;
	z-index:1;
}

/* Palkkien animaatio */
@keyframes laidastalaitaan
{
	from
	{
		left:-160px;
	}
	
	to
	{
		left:calc(100% + 160px);
	}
}

/* Pöllön animaatio */
@keyframes siksak
{
	0%
	{
		left:0;
		top:0;
	}
	
	25%
	{
		left:calc(100% - 94.5px);
		top:calc(100% - 92.5px);
	}
	
	50%
	{
		left:0;
		top:calc(100% - 92.5px);
	}
	
	75%
	{
		left:calc(100% - 94.5px);
		top:0;
	}
	
	100%
	{
		left:0;
		top:0;
	}
}

/* Pupujen puolikkaiden animaatiot */

@keyframes vasemmaltakeskelle
{
	from
	{
		left:0;
	}
	to
	{
		left:calc(50% - 191.5px);
	}
}

@keyframes oikealtakeskelle
{
	from
	{
		right:0;
	}
	to
	{
		right:calc(50% - 191.5px);
	}
}
