body {
	background-color: black;
}

.piilossa {
	display: none;
}

/* Ylös ja alas liikkuva palkki */
.gradienttiPalkki {
	height: 100%;
	width: 120px;
	position: fixed;
	left: -120px;
	animation-duration: 8s;
	animation-name: palkkianimaatio;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out, ease-in-out;
}

@keyframes palkkianimaatio {
	0% {
		left: calc(0vw - 150px);
	}
	40%,
	60% {
		left: 110vw;
	}
	100% {
		left: calc(0vw - 150px);
	}
}

@keyframes palkkianimaatio2 {
	0%,
	100% {
		right: calc(0vw - 150px);
	}
	40%,
	60% {
		/* "pysähtyy" tässä hetkeksi */
		right: 110vw;
	}
}

/* Kimpoileva pöllö */
.pollo {
	width: 100px;
	position: fixed;
	margin-top: -50vh;
	animation: 5s infinite linear polloAnimaatio;
}

/* Animaatiofunktiot omissa luokissaan */
.anim1 {
	animation-timing-function: ease;
}

.anim2 {
	animation-timing-function: ease-in;
}

.anim3 {
	animation-timing-function: ease-out;
}

.anim4 {
	animation-timing-function: ease-in-out;
}

.anim5 {
	animation-timing-function: linear;
}

.anim6 {
	animation-timing-function: step-start;
}

.anim7 {
	animation-timing-function: step-end;
}

.kaanteinenSuunta {
	animation-direction: reverse;
}

@keyframes polloAnimaatio {
	from,
	to {
		margin-top: 0;
		margin-left: 0;
	}

	25% {
		margin-top: calc(100vh - 100px);
		margin-left: calc(100vw - 100px);
	}

	50% {
		margin-top: calc(100vh - 100px);
		margin-left: 0;
	}

	75% {
		margin-top: 0;
		margin-left: calc(100vw - 50px);
	}
}

/* Laittaa sisällään olevat tavarat keskelle ruutua */
.keskitettyJanisKontti {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: flex-start;
}

/* Edestakaisin liikkuva halkaistu jänis */
.janis {
	animation: 5s infinite alternate ease janisAnimaatio;
}

@keyframes janisAnimaatio {
	from {
		margin-left: calc(
			50vw - 192px
		); /* Puolet jäniksen 383 pikselin leveydestä */
		margin-right: calc(50vw - 192px);
	}

	to {
		margin-left: 0;
		margin-right: 0;
	}
}

.nappulaKontti {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

#alakSkrolleriKontti {
	position: fixed;
	left: 100%;
	bottom: 2%;
	animation: 90s infinite linear scroll-text;
}

#ylaSkrollerKontti {
	position: fixed;
	top: 3%;
	left: 100%;
	animation: 10s infinite linear scroll-text;
}

@keyframes scroll-text {
	from {
		left: 100%;
		transform: translate(0, 0);
	}

	to {
		left: 0;
		transform: translate(-100%, 0);
	}
}

.lumihiutale {
	position: fixed;
	bottom: 0;
	width: 40px;
	z-index: 1500;
	animation: 12s 1 linear snowfall;
}

@keyframes snowfall {
	from {
		bottom: 110vh;
	}

	to {
		bottom: 0;
	}
}

#hiutaleMalliPohja {
	display: none;
}
