table > caption {
	font-size: 23px;
	text-align: left;
	padding-left: 2em;
	margin-bottom: 1em;
}

.paaTaulukko {
	width: 35em;
}

tr > th {
	text-align: left;
}

tr > td {
	min-width: 5em;
}

/* label + input { */
input {
	margin-left: 1em;
}

select {
	width: 14em;
}
