.flexContainer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.container {
	border: 0.2em solid #d69c52;
	max-width: 800px;
	padding: 5em 1em 1em 1em;
	margin-top: 2em;
}

form fieldset > label {
	display: block;
	max-width: 100%;
	width: 30em;
	clear: both;
	position: relative;
	min-height: 2em;
}

.leimaustavatParagraph,
.sarjatParagraph {
	width: 30em;
	max-width: 100%;
}

label input {
	float: right;
}

p label > input,
fieldst.short label input {
	float: none;
}

#leimaustavat {
	text-align: right;
}

#leimaustavat > label,
#sarja > label {
	display: block;
}

span > label {
	display: inline;
}

p {
	clear: both;
	/* width: 30em; */
	max-width: 100%;
	position: relative;
}

p span {
	float: right;
}

.sarjatParagraph {
	margin-top: 3em;
}

#sarja {
	text-align: right;
}

#rastiListaus {
	margin-left: 2em;
}

#rastiListaus > h2,
#loppulistaus > h2 {
	text-align: center;
}

.onnistumisViesti {
	color: green;
	margin-left: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

@media all and (max-width: 600px) {
	.flexContainer {
		flex-direction: column-reverse;
	}

	#container {
		margin: auto;
		min-width: 300px;
	}

	fieldset {
		margin: auto;
		min-width: 300px;
	}

	label input {
		float: none;
		max-width: 30%;
		margin: auto;
	}

	.sarjaTiedot {
		margin: auto;
	}

	#leimaustavat {
		display: inline;
		float: none;
		margin-left: 1em;
	}

	#leimaustavat br {
		display: none;
	}

	#leimaustavat input {
		margin-left: 0.1em;
		margin-right: 0.4em;
	}

	#sarja {
		display: inline;
		float: none;
		margin-left: 1em;
	}

	#sarja br {
		display: none;
	}

	#sarja input {
		margin-left: 0.1em;
		margin-right: 0.4em;
	}
}
