body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#map {
    width: 50%;
    height:100vh; 
}
#kartalla, #joukkueet {
    flex: 1;
}
#joukkueetKartalla, #joukkuelista {
    height: 100vh;
}
#joukkuelista li {
    width: 12em;
}